h2, #input, #do p {
  font-family: arial;
}
.background {
  background: #e6f5e6;
}
ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
li {
  border: 1px solid #99d699;
  color: #000;
  padding: 5px 10px;
}
#do, ul {
  margin: 0;
}
#do input {
  margin-right: 10px;
}
#input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 15px;
}
button {
  font-size: 17px;
  border: 2px solid #99d699;
  border-radius: 5px;
  background: #e5f6e5;
  height: 26px;
  line-height: 1.2px;
  outline: none;
  width: 40px;
  margin-bottom: 20px;
}
div {
  padding: 0 45px;
}
